:root {
    --color-base: #262626;
    --color-text: #f6e9e9;
    --color-primary: #ffff47;
    --color-shade: #1d1d1d;
    --color-accent: #5f8cf0;
    --space: min(5vw, 3rem);
    --border-radius: 0;
    --box-shadow: 0 0 0 0.125rem;
    --transition: 0.25s ease;
}

:focus-visible {
    outline: 0.125rem dotted var(--color-primary);
    outline-offset: 0.1rem;
}

::selection {
    color: var(--color-base);
    background-color: var(--color-primary);
}

body {
    background-color: var(--color-base);
    color: var(--color-text);
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    letter-spacing: 0.05ch;
}

h1 {
    display: block;
    width: 100%;
    letter-spacing: clamp(0px, 1vw, 0.625rem);
    font-size: clamp(1.8rem, 3.6vw, 3.4rem);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-shade);
    padding: 0 .1em;
}

body,
input,
select {
    color: var(--color-text);
}

a {
    color: var(--color-primary);
    transition: var(--transition) color;
}

a:hover,
a:focus {
    color: var(--color-accent);
}

button,
.btn {
    color: var(--color-base);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    font-size: 1.1em;
    letter-spacing: 0.25ch;
    padding: 0.25em 1em;
    text-transform: uppercase;
}

button:active,
.btn:active {
    opacity: 0.9;
}

button:hover,
button:focus-visible,
.btn:hover,
.btn:focus-visible {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

.image--notfound {
    background-color: var(--color-primary) !important;
}

.image--notfound:before,
.image--notfound img:before {
    color: var(--color-shade) !important;
}

.wrapper {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.padded {
    padding: calc(var(--space) / 2) var(--space);
}
