:root {
    --color-base: #262626;
    --color-text: #f6e9e9;
    --color-primary: #ffff47;
    --color-shade: #1d1d1d;
    --color-accent: #5F8CF0;
    --space: max(3vw, 1.5rem);
    --border-radius: .25rem;
    --border-radius: 0;
    --box-shadow: 0 0 0 .125rem;
    --transition: .25s ease;
}

:focus {
    outline: .2rem dotted var(--color-primary);
    outline-offset: .1rem;
}

::selection {
    color: var(--color-base);
    background-color: var(--color-primary);
}

body {
    background-color: var(--color-base);
    color: var(--color-text);
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

body,
input,
select {
    color: var(--color-text);
}

a {
    color: var(--color-primary);
    transition: var(--transition) color;
}

a:hover,
a:focus {
    color: var(--color-accent);
}

button,
.btn {
    color: var(--color-base);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    font-size: 1.1em;
    letter-spacing: .25ch;
    padding: .25em 1em;
    text-transform: uppercase;
}

button:active,
.btn:active {
    opacity: .9;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

.wrapper {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.padded {
    padding: calc(var(--space)/2) var(--space);
}
